@font-face {
    font-family: flower;
    src: url(fonts/FlowerSketches.ttf) format("opentype");
  }

  .Cafe{
      font-family: 'flower';
      font-size: 100px;
      background-color:rgba(252, 241, 209, 0.15);
      color:#ffbf00;
      position: absolute;
      bottom: 75%;
      right: 30%;
      left: 33%;
  }

.loginPage{
    background-image: url("https://projectcafeflora.s3.us-east-2.amazonaws.com/images/Background.jpg");
    min-height: 937px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
} 

.Greetings{
    font-family: 'Lobster', cursive;
}

.form-position{
    background-color: #C26AE6;
    box-shadow: #AF88BF;
    padding: 20px;
    margin:20px;
    position: absolute;
    right: 40%;
    bottom: 35%;
    left: 40%;
}

.form-links>a{
    margin-top: 5px;
    color: #A8E607;
}