body {
    /* background-color: #98ff98; */
    background-color: #AF88BF;
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 1000px;
  }

.verification {
    border: 1px solid #ddd;
    border-radius: 6px;
    /* background-color: #CFFFE5;  */
    background-color: #B600FF;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.10);
}

.container {
    align-self: center;
}

mytable {
    border: 1px solid black;
    table-layout: fixed;
    align-self: center;
}

.col1 {
    width: 300px;
}

.col2 {
    width: 200px;
}

h1 {
    text-align: center;
}

.proceed-btn {
    cursor: pointer;
    font-size: 16px;
    border-color: transparent;
    border-radius: 6px;
}
 
.proceed-btn {
    margin-bottom: 10px;
    /* background: #7dc855; */
    background: #6E9900;
}
 
.proceed-btn a {
    text-decoration: none;
}
 
.proceed-btn a {
    color: #fff;
}
