@font-face {
    font-family: flower;
    src: url(fonts/FlowerSketches.ttf) format("opentype");
  }

  .Cafe{
      font-family: 'flower';
      background-color:rgba(252, 241, 209, 0.15);
      color:#ffbf00;
      font-size: 40px;
      position:absolute;
      right:20px;
  }

.RegisterPage{
    background-image: url("https://projectcafeflora.s3.us-east-2.amazonaws.com/images/Background.jpg");
    min-height: 937px;
    background-clip: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative;
    overflow: hidden;
} 

.form-position{
    background-color: #C26AE6;
    box-shadow: #AF88BF;
    padding: 25px;
    margin:20px;
    position: absolute;
    right: 25%;
    left: 25%;
    max-height: 937px;
    overflow-y: scroll;
}