<div class="RegisterPage">
  <form class="form-position" (ngSubmit)="registerUser()">
      <h2 id="title">Registration</h2>
      <div class="form-row">
          <div class="form-group col-md-6">
            <label>First Name</label>
            <input type="text" class="form-control" required placeholder="first name" name="firstName" id="firstName" [(ngModel)]="customer.firstName" #firstName="ngModel">
            <div *ngIf="firstName.errors?.required && firstName.touched" class="text-danger">
              First name is required!
            </div>
          </div>
          <div class="form-group col-md-6">
            <label>Last Name</label>
            <input type="text" class="form-control" required placeholder="last name" name="lastName" id="lastName" [(ngModel)]="customer.lastName" #lastName="ngModel">
            <div *ngIf="lastName.errors?.required && firstName.touched" class="text-danger">
              Last name is required!
            </div>
          </div>
        </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="email" class="form-control" required placeholder="Enter email" name="email" id="email" [(ngModel)]="customer.email" #email="ngModel">
          <div *ngIf="email.errors?.required && firstName.touched" class="text-danger">
            Email is required!
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Password</label>
          <input type="password" class="form-control" required name="password" id="password" [(ngModel)]="customer.password" #password="ngModel">
          <div *ngIf="password.errors?.required && firstName.touched" class="text-danger">
            Password is required!
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Address</label>
        <input type="text" class="form-control" required name="address" id="address" placeholder="1234 Main St" [(ngModel)]="customer.address" #address="ngModel">
        <div *ngIf="address.errors?.required && firstName.touched" class="text-danger">
          Address is required!
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>City</label>
          <input type="text" class="form-control" required name="city" id="city" [(ngModel)]="customer.city" #city="ngModel">
          <div *ngIf="city.errors?.required && firstName.touched" class="text-danger">
            City is required!
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>State</label>
          <select type="text" required name="state" id="state" class="form-control" [(ngModel)]="customer.state" #state="ngModel">
            <option value="California">California</option>
            <option value="FLorida">Florida</option>
            <option value="Virginia">Virginia</option>
          </select>
          <div *ngIf="state.errors?.required && firstName.touched" class="text-danger">
            State is required!
          </div>
        </div>
        <div class="form-group col-md-2">
          <label>ZipCode</label>
          <input type="text" required maxlength="5" minlength="5" class="form-control" name="zipCode" id="zipCode" [(ngModel)]="customer.zipCode" #zipCode="ngModel">
          <div *ngIf="zipCode.errors?.required && firstName.touched" class="text-danger">
            ZipCode is required!
          </div>
          <div *ngIf="zipCode.errors?.minlength && firstName.touched" class="text-danger">
            zipCode is too short!
          </div>
          <div *ngIf="zipCode.errors?.maxlength && firstName.touched" class="text-danger">
            zipCode is too long!
          </div>
        </div>
      </div>
      <div class="form-group">
          <label>Phone Number</label>
          <input type="text" class="form-control" required maxlength="10" minlength="10" name="phone" id="phone" placeholder="1112223333" [(ngModel)]="customer.phone" #phone="ngModel">
          <div *ngIf="phone.errors?.required && firstName.touched" class="text-danger">
            Phone Number is required!
          </div>
      </div>
      <div class="form-group">
          <label>Credit Card Name</label>
          <input type="text" class="form-control" name="creditCardName" id="creditCardName" placeholder="First Last" [(ngModel)]="customer.creditCardName" #creditCardName="ngModel">
      </div>
      <div class="form-group">
          <label>Credit Card Number</label>
          <input type="text" class="form-control" maxlength="16" minlength="16" name="creditCardNumber" id="creditCardNumber" placeholder="1111222233334444" [(ngModel)]="customer.creditCardNumber" #creditCardNumber="ngModel">
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
              <label>Credit Card Month</label> 
              <select type="number" name="creditCardMonth" id="creditCardMonth" class="form-control" [(ngModel)]="customer.creditCardMonth" #creditCardMonth="ngModel">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                  <option value="11">11</option>
                  <option value="12">12</option>
              </select>
          </div>
          <div class="form-group col-md-6">
              <label>Credit Card Year</label>
              <select type="number" name="creditCardYear" id="creditCardYear" class="form-control" [(ngModel)]="customer.creditCardYear" #creditCardYear="ngModel">
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
                  <option value="2024">2024</option>
                  <option value="2025">2025</option>
                  <option value="2026">2026</option>
              </select>
          </div>
      </div>
      <div class="form-group">
          <label>Credit Card Code</label>
          <input type="number" class="form-control" maxlength="3" minlength="3" name="creditCardCode" id="creditCardCode" placeholder="3 digit at the back of the card" [(ngModel)]="customer.creditCardCode" #creditCardCode="ngModel">
          <div *ngIf="creditCardCode.errors?.minlength && firstName.touched" class="text-danger">
            Credit card code is too short!
          </div>
          <div *ngIf="creditCardCode.errors?.maxlength && firstName.touched" class="text-danger">
            Credit card code is too long!
          </div>
      </div>
      <div>
        <button id="sumbit" type="submit" class="btn btn-primary">Register</button>
        <!-- <a type="submit" class="btn btn-warning" style="position:absolute; right:20px" href="/login">Login</a> -->
        <a type="submit" class="btn btn-warning" style="position:absolute; right:20px" (click)="goLogin()">Login</a>
      </div>
    </form>
</div>